<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ipanel.questionnaireserver.mapper.RecordMapper">
  <resultMap id="BaseResultMap" type="cn.ipanel.questionnaireserver.pojo.Record">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="questionnaire_id" jdbcType="INTEGER" property="questionnaireId" />
    <result column="question_id" jdbcType="INTEGER" property="questionId" />
    <result column="answer" jdbcType="LONGVARCHAR" property="answer" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, questionnaire_id, question_id, answer
  </sql>
</mapper>